/************************************************************
                    UNIVERSAL STYLINGS
*************************************************************/

* {
  border-style: border-box;
}

body{
  font-family: "Arial", "Serif";
  border: 0;
  padding: 0;
  font-size: 14px;
}



/************************************************************
                          NAV BAR
*************************************************************/

nav {
  background-color: #FFB4B0;
  border: 2px solid black;
  margin-bottom: 20px;
}

nav li {
  display: inline-block;
  font-size: 15px;
}

nav li:not(:last-child):after {
  content: " |";
}

nav li a:focus {
  color: #000;
  text-decoration: none;
}

div {
  display: inline-block;
}

fieldset {
  border:0;
}

.form {
  float: left;
  background-color: #4DD7FA;
  border: 2px solid black;
  width: 200px;
}

.legends {
  font-size: 14px;
  padding-top: 10px;
}



/************************************************************
                  CHECKBOXES AND SELECTORS
*************************************************************/

#col1, #col2 {
  float: left;
  display: inline-block;
  width: 50%;
}

#col1 ul, #col2 ul {
list-style: none;
padding: 0;
}

#col1 ul li, #col2 ul li {
  padding: 5px 0;

}

.genreType {
  box-shadow: 0 0 0 2px black;
  border-radius: 1px;
}

.datalist {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 14px;
}


/************************************************************
                      SONG LIST
*************************************************************/

.songList {
  background-color: #FEFAC0;
  width: 600px;
  height: 375px;
  margin-left: 20px;
  border: 2px solid black;
}

.songList ul li {
  list-style: none;
}

.songList ul li:nth-of-type(4n+1) {
  font-size: 30px;
  padding: 20px 0 10px;
  color: #785616;
}

.songList ul li:not(:nth-of-type(4n+1)) {
  display: inline-block;
}

.songList ul li:nth-of-type(4n+2):after,
.songList ul li:nth-of-type(4n+3):after {
  content: " | ";
  padding: 0 10px;
}

#songElement div {
  display: block;
}


/************************************************************
                   HIDE AND SHOW ELEMENTS
*************************************************************/


.hidden {
  display: none;
}

.visible {
  display: block;
}



/************************************************************
                        ADD MUSIC PAGE
*************************************************************/


#addMusic {
  text-align: center;
  padding-top: 15%;
  width: 100%;
}

#addMusic div {
display: block;
text-align: center;
}

#addMusic div p {
  display: inline-block;
  width: 100px;
  text-align: left;
}

#addMusic div input {
  border: 2px solid black;
  padding-right: 20px;
}

#addButton {
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px 25px;
  border-radius: .5em;
  border: 2px solid black;
  margin-top: 40px;
}


/************************************************************
                  DELETE/MORE/FILTER BUTTONS
*************************************************************/
.delete,
#moreButton,
#filterButton {
  background-color: #d7d7d7;
  border: 2px solid black;
  border-radius: 5px;
  outline: 0;
}

.delete {
  float: right;
  margin-right: 10%;
  font-size: .5em;
}

#moreButton {
  margin-top: 20px;
}

.filterButtonContainer {
  text-align: center;
}

#filterButton {
  font-size: 18px;
  padding: 0 35px;
}

